In [2]:
import spotipy
import pandas as pd
import json
from spotipy.oauth2 import SpotifyClientCredentials
from config import *

In [3]:
#Initialize SpotiPy with user credentias # 
sp = spotipy.Spotify(auth_manager=SpotifyClientCredentials(client_id= client_id,
                                                           client_secret= client_secret))

In [4]:
top_100_df=pd.read_csv('/Users/aloaskari/Desktop/Ironhack/Bootcamp/Week_6/Day_1/top_100.csv')
not_hot_df=pd.read_csv('/Users/aloaskari/Desktop/Ironhack/Bootcamp/Week_6/Day_1/not_hot_songs.csv')

In [5]:
not_100 = pd.read_csv('/Users/aloaskari/Desktop/Ironhack/Bootcamp/Week_6/Day_1/not_hot_songs.csv')

In [6]:
not_100.head()

       song_title            artist
0        Mask Off            Future
1         Redbone  Childish Gambino
2    Xanny Family            Future
3  Master Of None       Beach House
4  Parallel Lines       Junior Boys

In [7]:
hot_100= pd.read_csv('/Users/aloaskari/Desktop/Ironhack/Bootcamp/Week_6/Day_1/top_100.csv')
hot_100.head()

        title                                artist
0     Flowers                           Miley Cyrus
1   Kill Bill                                   SZA
2  Last Night                         Morgan Wallen
3      Unholy                Sam Smith & Kim Petras
4    Creepin'  Metro Boomin, The Weeknd & 21 Savage

In [12]:
not_100.columns

Index(['song_title', 'artist'], dtype='object')

In [18]:
not_100 = not_100.rename(columns={'song_title':'title'})

In [19]:
not_100['title'] = not_100['title'].apply(lambda x: x.lower() if type(x) == str else x)
not_100['artist'] = not_100['artist'].apply(lambda x: x.lower() if type(x) == str else x)
not_100.head()

            title            artist
0        mask off            future
1         redbone  childish gambino
2    xanny family            future
3  master of none       beach house
4  parallel lines       junior boys

In [20]:
hot_100.columns

Index(['title', 'artist'], dtype='object')

In [21]:
hot_100['title'] = hot_100['title'].apply(lambda x: x.lower() if type(x) == str else x)
hot_100['artist'] = hot_100['artist'].apply(lambda x: x.lower() if type(x) == str else x)
hot_100.head()

        title                                artist
0     flowers                           miley cyrus
1   kill bill                                   sza
2  last night                         morgan wallen
3      unholy                sam smith & kim petras
4    creepin'  metro boomin, the weeknd & 21 savage

In [22]:
def search_song(title, artist, limit=1):
    try:
        result = sp.search(q=title + artist, limit=limit)
        return result["tracks"]["items"][0]["uri"]
    except:
        print('none')

In [23]:
search_song('mask off', 'future', limit=1)

'spotify:track:0VgkVdmE4gld66l8iyGjgx'

In [24]:
title_top_100 = hot_100['title'].to_list()
artist_top_100 = hot_100['artist'].to_list()

In [25]:
uris = []
for i in range(len(title_top_100)):
    uris.append(search_song(title_top_100[i], artist_top_100[i], limit=1))

In [26]:
hot_100['uri'] = uris
hot_100

,title,artist,uri
0,flowers,miley cyrus,spotify:track:0yLdNVWF3Srea0uzk55zFn
1,kill bill,sza,spotify:track:5ReIs3aH4wfBjp93QOtWAl
2,last night,morgan wallen,spotify:track:59uQI0PADDKeE6UZDTJEe8
3,unholy,sam smith & kim petras,spotify:track:3nqQXoyQOWXiESFLlDF1hG
4,creepin',"metro boomin, the weeknd & 21 savage",spotify:track:4CpujwKsq4DxOIMiKr12m8
...,...,...,...
95,yandel 150,yandel & feid,spotify:track:2oiixB9QMIzhWaHGVlQx4g
96,heart to heart,mac demarco,spotify:track:7EAMXbLcL0qXmciM5SwMh2
97,next thing you know,jordan davis,spotify:track:2lNTHWu2I5Tcz9ukWsV5Jj
98,never gonna not dance again,p!nk,spotify:track:6sZo5nJIsFWXefRCCexpx0
99,open arms,sza featuring travis scott,spotify:track:0xaFw2zDYf1rIJWl2dXiSF