In [4]:
import spotipy
import pandas as pd
import json
from spotipy.oauth2 import SpotifyClientCredentials
from config import *

In [19]:
#Initialize SpotiPy with user credentias # 
sp = spotipy.Spotify(auth_manager=SpotifyClientCredentials(client_id= Client_ID,
                                                           client_secret= Client_Secret))

In [20]:
not_100 = pd.read_csv("not_hot.csv")

In [21]:
not_100.head()

            title            artist
0        Mask Off            Future
1         Redbone  Childish Gambino
2    Xanny Family            Future
3  Master Of None       Beach House
4  Parallel Lines       Junior Boys

In [8]:
hot_100= pd.read_csv("hot_100.csv")
hot_100.head()

       title                                artist
0    Flowers                           Miley Cyrus
1  Kill Bill                                   SZA
2   Creepin'  Metro Boomin, The Weeknd & 21 Savage
3  Anti-Hero                          Taylor Swift
4     Unholy                Sam Smith & Kim Petras

In [27]:
not_100['title']=not_100[['title']].apply(lambda x: x.str.lower())
not_100['artist']=not_100[['artist']].apply(lambda x: x.str.lower())
not_100.head()

            title            artist
0        mask off            future
1         redbone  childish gambino
2    xanny family            future
3  master of none       beach house
4  parallel lines       junior boys

In [28]:
hot_100['title']=hot_100[['title']].apply(lambda x: x.str.lower())
hot_100['artist']=hot_100[['artist']].apply(lambda x: x.str.lower())
hot_100.head()

       title                                artist
0    flowers                           miley cyrus
1  kill bill                                   sza
2   creepin'  metro boomin, the weeknd & 21 savage
3  anti-hero                          taylor swift
4     unholy                sam smith & kim petras

In [38]:
def search_song(title, artist, limit=1):
    try:
        result = sp.search(q=title + artist, limit=limit)
        return result["tracks"]["items"][0]["uri"]
    except:
        print('none')

In [39]:
search_song('mask off', 'future', limit=1)

'spotify:track:0VgkVdmE4gld66l8iyGjgx'

In [44]:
title_top_100 = hot_100['title'].to_list()
artist_top_100 = hot_100['artist'].to_list()

In [49]:
uris = []
for i in range(len(title_top_100)):
    uris.append(search_song(title_top_100[i], artist_top_100[i], limit=1))

In [51]:
hot_100['uri'] = uris
hot_100

,title,artist,uri
0,flowers,miley cyrus,spotify:track:0yLdNVWF3Srea0uzk55zFn
1,kill bill,sza,spotify:track:5ReIs3aH4wfBjp93QOtWAl
2,creepin',"metro boomin, the weeknd & 21 savage",spotify:track:4CpujwKsq4DxOIMiKr12m8
3,anti-hero,taylor swift,spotify:track:0V3wPSX9ygBnCm8psDIegu
4,unholy,sam smith & kim petras,spotify:track:3nqQXoyQOWXiESFLlDF1hG
...,...,...,...
95,hey mor,ozuna featuring feid,spotify:track:1zsPaEkglFvxjAhrM8yhpr
96,gato de noche,nengo flow & bad bunny,spotify:track:54ELExv56KCAB4UP9cOCzC
97,heart to heart,mac demarco,spotify:track:7EAMXbLcL0qXmciM5SwMh2
98,never gonna not dance again,p!nk,spotify:track:6sZo5nJIsFWXefRCCexpx0
99,dancin' in the country,tyler hubbard,spotify:track:6Z1bV93BP95h4YjIavrQPf